<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">
	<insert id="createOne" parameterType="java.util.HashMap">
		insert into reply values(reply_seq.nextval, #{parent}, #{writer},#{content},#{pass})
	</insert>
	<select id="readSome" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from reply where parent=#{parent} order by num asc
	</select>
</mapper>